.pfl {
 margin-bottom: 70px;
}
.pfl__title {
 font-weight: 700;
 font-size: 32px;
 line-height: 123.6%;
 margin-bottom: 25px;
 text-align: center;
}
.pfl__subtitle {
 max-width: 438px;
 font-size: 15px;
 line-height: 24px;
 color: #767676;
 text-align: center;
 margin: 0 auto;
 margin-bottom: 50px;
}
.gallery__nav {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 margin-bottom: 50px;
}
.gallery__nav--btn {
 margin: 0 18px;
 font-weight: 500;
 font-size: 18px;
 line-height: 123.6%;
 text-transform: capitalize;
 background-color: transparent;
}
.gallery__nav--btn:focus {
 color: #ffb400;
}
.gallery__items {
 display: grid;
 grid-template-columns: repeat(3, 280px);
 grid-gap: 20px;
 justify-content: center;
}
.gallery__box {
 width: 280px;
 height: 270px;
 position: relative;
}
.gallery__box img {
 position: absolute;
 display: block;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 1;
}
.gallery__box--text {
 position: relative;
 z-index: 2;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #ffb400f2;
 opacity: 0;
 transition: 0.25s all ease-in-out;
}
.gallery__box:hover .gallery__box--text {
 opacity: 0.9;
 transition: 0.25s all ease-in-out;
}
.gallery__box--title {
 font-size: 30px;
 text-transform: capitalize;
 font-weight: 600;
}
.special {
 background-size: contain;
}
@media screen and (max-width: 900px) {
 .gallery__items {
  grid-template-columns: repeat(2, 280px);
 }
}
@media screen and (max-width: 590px) {
 .gallery__items {
  grid-template-columns: repeat(1, 280px);
 }
}
